# Feature Engineering
Data Structure format ==> ML, DL models apply ==> Performance evaluate ==> Output show

In [1]:
# Data(100%) ==> Independent_Data(x)(90%) + Dependent_data/Target_data(y)(10%)

# Independent_Data(x) = Training_data(x_train), Testing_data(x_test)

# Dependent_Data(Y) = Training_data(y_train), Testing_data(y_test)

In [15]:
# Data = x,y ==> (x_train, x_test), (y_train, y_test)

In [38]:
import numpy as np
import pandas as pd

In [39]:
df = pd.read_csv("C:\\Users\\91636\\OneDrive\\Desktop\\Regex ML\\Data\\covid_toy.csv")

In [40]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [41]:
df.shape # Total data 100 rows and 6 columns

(100, 6)

In [42]:
# Step-1   Divide data into Independent and Dependent data
x = df.drop(columns = ['has_covid'], axis=1) # Independent data
y = df['has_covid'] # Target Data

In [43]:
print("Independent Data Shape = ",x.shape)
print("Dependent Data Shape = ",y.shape)

Independent Data Shape =  (100, 5)
Dependent Data Shape =  (100,)

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2, random_state = 42)

# random_state work as a seed(), It will fix random numbers.
# test_size = 0.2 = 20% data test, 80% data training

# train_test_split ==> models(training_data on trained), test_data check performance
# class 100 students ==> 80 students(training_data), 80 students ==> 20 students(test_data) ==> Performance accurate 
# 20 students ==> Performance poor

In [46]:
print("X_train data shape = ",x_train.shape)
print("X_test data shape = ",x_test.shape)
print("Y_train data shape = ",y_train.shape)
print("Y_test data shape = ",y_test.shape)

X_train data shape =  (80, 5)
X_test data shape =  (20, 5)
Y_train data shape =  (80,)
Y_test data shape =  (20,)

In [47]:
df = pd.read_csv("C:\\Users\\91636\\OneDrive\\Desktop\\Regex ML\\Data\\click.csv")

In [48]:
df.columns

Index(['Daily Time Spent on Site', 'Age', 'Area Income',
       'Daily Internet Usage', 'Ad Topic Line', 'City', 'Gender', 'Country',
       'Timestamp', 'Clicked on Ad'],
      dtype='object')

In [49]:
df.shape

(10000, 10)

In [50]:
# (1) X shape
# (2) y shape
# (3) x_train
# (4) x_test
# (5) y_train
# (6) y_test

In [51]:
x = df.drop(columns = ['Clicked on Ad'], axis=1)
y = df['Clicked on Ad']

In [52]:
print("Independent Data Shape = ",x.shape)
print("Dependent Data Shape = ",y.shape)

Independent Data Shape =  (10000, 9)
Dependent Data Shape =  (10000,)

In [53]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2, random_state = 42)

In [54]:
print("X_train data shape = ",x_train.shape)
print("X_test data shape = ",x_test.shape)
print("Y_train data shape = ",y_train.shape)
print("Y_test data shape = ",y_test.shape)

X_train data shape =  (8000, 9)
X_test data shape =  (2000, 9)
Y_train data shape =  (8000,)
Y_test data shape =  (2000,)

In [55]:
df = pd.read_csv("C:\\Users\\91636\\OneDrive\\Desktop\\Regex ML\\Data\\Attrition.csv")

In [56]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [57]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [62]:
x = df.drop(columns = ['Attrition'], axis=1)  # Independent Data
y = df['Attrition']   # Dependent Data

In [59]:
print("Independent Data Shape = ",x.shape)
print("Dependent Data Shape = ",y.shape)

Independent Data Shape =  (1470, 34)
Dependent Data Shape =  (1470,)

In [60]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2, random_state = 42)

In [61]:
print("X_train data shape = ",x_train.shape)
print("X_test data shape = ",x_test.shape)
print("Y_train data shape = ",y_train.shape)
print("Y_test data shape = ",y_test.shape)

X_train data shape =  (1176, 34)
X_test data shape =  (294, 34)
Y_train data shape =  (1176,)
Y_test data shape =  (294,)

In [ ]:
# Apply train_test_split on all the data